body {
    background: #c8e1f5 !important;
    margin: auto;
    width: 80%;
}
a,a:hover {
    text-decoration: none;
    
}

.footer {
    margin-top: 50px;
    height: 100px;
    background-color:#343A40;
}
.postComponent {

}

.postTitle {

}

.postImage {

}

.ImageComponent {
    height: 150px;
}
.postArea {

}

.postPrice {

}

.table-user {
    border-collapse: collapse;
    width: 100%;
}


.table-td,.table-tr, {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-user .table-td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(112, 150, 114);
    color: white;
}

.button-edit {
    color: yellow;
}
.button-delete {
    color: rgb(219, 34, 34);
}
.button-delete:hover {
    background-color: white;
}
.button-edit:hover {
    background-color: blue;
}




div#hr {
    border-radius:5px 5px 5px 5px;
    margin-top:50px;
    width:100%;
    height:50px;
    background:#2140fb;
    clear:both;
    line-height:30px;
    font-size:18px;
    font-weight:900;
    color:#fff;
    padding-left: 2%;
}
div#ha {
    width:100%;
    border:2px solid #2140fb;
    overflow:hidden;
    height:125px;
}
div#ha ul {
    margin-left:-40px;
    margin-top:0px;
    overflow:hidden;
}
div#ha ul li {
    width:200px;
    list-style:none;
    float:left;
}
div#hr a#pre, div#hr a#next {
    float:right;
    display:block;
    cursor:pointer;
}



